header {
  position: relative;
  padding-top: 2rem;
  background: var(--gradient-secondary);
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  position: relative;
  z-index: 1;
}
.logo {
  max-width: 8rem;
}
.logo_con {
  margin-left: var(--space-md);
}
.nav_links {
  display: flex;
  gap: var(--space-xl);
  align-items: center;
}
.nav_links li,
.nav_links a {
  list-style: none;
  text-decoration: none;
  color: var(--text-primary);
  font-size: var(--font-lg);
  font-weight: var(--font-normal);
}
.right_nav {
  display: flex;
  gap: var(--space-md);
}

.btn:hover {
  transform: translateY(0.4rem);
}
.logo_text {
  font-weight: var(--font-normal);
  color: var(--primary-color);
  font-size: var(--font-lg);
}
.logo_span {
  color: var(--text-primary);
}
