header {
  background-image: url("/assets/images/future.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fit;
  position: relative;
  padding-top: 2rem;
}
.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm);
}
.logo {
  max-width: 8rem;
}
.logo_con {
  margin-left: var(--space-md);
}
.nav_links {
  display: flex;
  gap: var(--space-xl);
  align-items: center;
}
.nav_links li,
.nav_links a {
  list-style: none;
  text-decoration: none;
  color: var(--text-primary);
  font-size: var(--font-lg);
  font-weight: var(--font-normal);
}
.right_nav {
  display: flex;
  gap: var(--space-md);
}
.left_nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  transform: translateY(0.4rem);
}
.login_btn {
  background-color: var(--bg-color);
  border: 0.5px solid var(--primary-light);
  box-shadow: var(--shadow);
}
.login_btn:hover,
.open_acc_btn:hover,
.view_demo_btn:hover {
  background-color: var(--hover);
  border: 1px solid;
  color: var(--primary-light);
}
.logo_text {
  font-weight: var(--font-normal);
  color: var(--primary-color);
  font-size: var(--font-lg);
}
.logo_span {
  color: var(--text-primary);
}
.open_account_btn {
  background-color: var(--primary-color);
  border: none;
  color: var(--text-primary);
  font-size: var(--font-sm);
  padding: var(--space-sm) var(--space-xl);
  border-radius: var(--radius-md);
}
.open_account_btn:hover {
  background-color: var(--hover);
  border: none;
  color: var(--primary-light);
}
